#training { background-color: #c8c8c8;}

#training .btn-left, #training .btn-right { position: absolute; top: 50%; margin-top: -15px; }
#training .btn-start { position: absolute; left: 50%; margin-left: -25px; bottom: -30px; }
#training .btn-left { left: 10px; }
#training .btn-right { right: 10px; }

ul#nav-gyms
{
    position: absolute;
    width: 320px;
    height: 520px;
    left: 50%; top: 50%;
    margin-left: -160px;
    margin-top: -270px;
    display: inline-block;
}

ul#nav-gyms > li
{
    margin: 3px;
    text-align: left;
    position: relative;
    padding: 5px;
}

ul#nav-gyms > li img
{
    width: 300px;
    height: 300px;
}