<div id="gym" data-bind="visible: display">
    <!-- ko if: data() -->
    <img data-bind="attr: { src: data().img }"/>
    <!-- /ko -->

    <ul id="nav-exercises" class="opacity-x-high" data-bind="foreach: shownItems">
        <li class="selectable" data-bind="css: { selected: $data == $parent.selected() },
                       click: function() { $parent.select($data) }">
            <span data-bind="text: name"></span>

            <!--<div class="center">-->
            <!--<img data-bind="attr: { src: img }"/>-->
            <!--<button class="btn-start" data-bind="click: function() { select($data); }">Войти</button>-->
            <!--</div>-->

        </li>
    </ul>

    <button class="btn-left" data-bind="enable: left() && busy() == false, click: toLeft">&larr;</button>
    <button class="btn-right" data-bind="enable: right() && busy() == false, click: toRight">&rarr;</button>

    <!-- ko if: selected() -->
    <div id="exercise-info" class="opacity-x-high" data-bind="with: selected">
        <div class="h1 center" data-bind="text: name"></div>
        <table>
            <tr>
                <td>Вес снаряда:</td>
                <td><input type="number" data-bind="enable: $parent.execution.busy() == false, value: weight,
                           attr:{min: $parent.WEIGHT_MIN, max: $parent.WEIGHT_MAX, step: $parent.WEIGHT_STEP}"/></td>
            </tr>
            <tr>
                <td>Количество повторений:</td>
                <td><input data-bind="enable: $parent.execution.busy() == false && force() == false, value: repeats,
                           attr:{min: $parent.REPEATS_MIN, max: $parent.REPEATS_MAX, step: $parent.REPEATS_STEP}"/>
                    <input type="checkbox" data-bind="checked: force"> До отказа
                </td>
            </tr>
            <tr>
                <td>
                    <button data-bind="enable: $parent.execution.busy() == false, click: function() { $parent.execute() }">
                        Выполнить подход
                    </button>
                </td>
                <td>
                    <progress max="100"
                              data-bind="value: $parent.execution.progress, visible: $parent.execution.busy,
                              attr:{max: $parent.PROGRESS_MAX}">

                    </progress>
                    <span data-bind="text: $parent.execution.executed, visible: $parent.execution.busy"></span>
                </td>
            </tr>
            <tr>
                <td>История подходов:</td>
                <td>
                    <ul id="journal" data-bind="foreach: journal">
                        <li data-bind="text: weight + 'x' + cnt + ','"></li>
                    </ul>
                </td>
            </tr>
        </table>
        <br/>
    </div>
    <!-- /ko -->

</div>
