<div class="item-cost">
    <!-- ko if: money > 0 -->
    Монеты: <span data-bind="text: money"></span>
    <br/>
    <!-- /ko -->

    <!-- ko if: gold > 0 -->
    Золото: <span data-bind="text: gold"></span>
    <br/>
    <!-- /ko -->

    <button data-bind="click: function(){ parent.buy.call(parent);}">Купить</button>
    <br/>

    <!-- ko if: votes > 0 -->
    <button data-bind="click: parent.buyForVotes">Купить за голоса:<span data-bind="text: votes"></span></button>
    <br/>
    <!-- /ko -->
</div>
